<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Depots</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body class="p-3 mb-2 bg-dark text-white" >
<div th:replace="base :: header">

</div>

<div class="container">
    <h2>Depots List</h2>
    <table class="table table-dark table-striped">
        <tr>
            <th>Depot Id</th>
            <th>Depot Name</th>
            <th>Depot Location</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>List Products</th>
        </tr>
        <tr th:each="depot: ${depots}">
            <td th:text="${depot.id}"></td>
            <td th:text="${depot.name}"></td>
            <td th:text="${depot.location}"></td>
            <td><a th:href="@{/edit-depot-page/{id}(id = ${depot.id}) }" class="btn btn-edit" >Edit</a></td>
            <td><a th:href="@{/delete-depot/{id}(id = ${depot.id})}" class="btn btn-delete" >Delete</a></td>
            <td><a th:href="@{/products-indepot-page/{id}(id = ${depot.id})}" class="btn btn-listproducts" >List Products</a></td>
        </tr>
    </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>